*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #e9c2fb, #a6c1ee);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    width: 50%;
    height: 60%;
    border-radius: 10px;
    background-color: rgba(27, 31, 35, 0.212);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainContainer .clockContainer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    letter-spacing: 0.6px;
}

.buttonContainer .btn{
    padding: 8px;
    letter-spacing: 0.5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgba(207, 222, 238, 0.808);
    transition-property: all;
    transition-duration: 0.2s;
    cursor: pointer;
}

.buttonContainer .start:hover{
    background-color: rgb(1, 138, 1);
    color: white;
}

.buttonContainer .stop:hover{
    background-color: red;
    color: white;
}

.buttonContainer .reset:hover{
    background-color: rgb(47, 47, 248);
    color: white;
}




/* styling for mobile view  */



@media (max-width: 700px) {
    .mainContainer{
        width: 90%;
        height: 40%;
    }

    .mainContainer .clockContainer{
        font-size: 65px;
    }

    .buttonContainer .btn{
        padding: 9px;
    }
}